{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "AppSettings": {
    "DbConn": "{{ db_conn }}",
    "JwtSecret": "{{ jwt_secret }}"  
  }
}
